.THIS .weekDays-selector-header  {
  text-align: center;
}
.THIS .weekDays-selector input {
  display: none !important;
}
.THIS .weekDays-selector input[type=checkbox] + label {
  display: block !important;
  border-radius: 6px !important;
  background: #dddddd !important;
  text-align: center !important;
  cursor: pointer !important;
}
.THIS .weekDays-selector input[type=checkbox]:checked + label {
  background: rgba(51,204,255,.8) !important;
  color: #ffffff !important;
}